.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
  min-width: 0;
  padding-left: 1rem; /* Add some spacing between slides */
}
